<div class="row" *ngIf="movieDetails |async as movie">
  <div class="details">
    <img [src]="movie.poster" alt="">
    <table>
      <tr>
        <td>Title</td>
        <td>{{movie.title}}</td>
      </tr>
      <tr>
        <td>Year</td>
        <td>{{movie.year}}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{movie.category}}</td>
      </tr>
      <tr>
        <td>Plot</td>
        <td>{{movie.plot}}</td>
      </tr>
      <button class="btn black" (click)="back()">Back</button>
    </table>

  </div>
</div>
