<form action="" #movie="ngForm" class="row" (ngSubmit)="addMovie()">
  <div class="addMovie">
    <div class="input-field col s6 div1">
      <input type="text" class="validate" [(ngModel)]="title" name="title" required>
      <label>Title</label>
    </div>
    <div class="input-field col s6 div2">
      <label>Year</label>
      <select class="browser-default"
              [(ngModel)]="year"
              name="year"
              required>
        <option
          *ngFor="let year of years"
          [ngValue]="year"
        >{{year}}</option>
      </select>
    </div>

    <div class="input-field col s6 div3">
      <label>Category</label>
      <select
        class="browser-default"
        [(ngModel)]="country"
        name="country"
        required>
        <option
          *ngFor="let category of categories"
          [ngValue]="category"
        >{{category}}
        </option>
      </select>

    </div>
    <div class="input-field col s6 div4">
      <input type="text" class="validate" [(ngModel)]="director" name="director" required>
      <label>Director</label>
    </div>
    <div class="input-field col s6 div5">
      <input type="text" class="validate" [(ngModel)]="plot" name="plot" required>
      <label>Plot</label>
    </div>
    <div class="input-field col s6 div6">
      <input type="text" class="validate" [(ngModel)]="poster" name="poster" required>
      <label>Poster =>html...</label>
    </div>
    <div class="input-field col s6 div7">
      <input type="text" class="validate" [(ngModel)]="imdbRating" name="imdbRating" required>
      <label>Imdb Rating</label>
    </div>
    <button
      class="btn waves-effect waves-light light-green right button"
      type="submit"
      onclick="M.toast({html:'Added Movie'})"
      [disabled]="movie.invalid"
    >Send
    </button>
  </div>

</form>
